<% include('parts/header.ejs') %>

<div class="container">
    <h2>Восстановление пароля</h2>
    <form action="/forgot-password" method="post">
      <input type="email" name="email" placeholder="Введите ваш email" required />
      <button type="submit">Отправить ссылку</button>
    </form>
    <div class="links">
      <a href="/login">Назад ко входу</a>
    </div>
  </div>
</div>

<% include('parts/footer.ejs') %>
