<% include('parts/header.ejs') %>

<body>
  <div class="container">
    <h2>Введите новый пароль</h2>
    <form action="/reset-password" method="post">
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="password" name="password" placeholder="Новый пароль" required />
      <button type="submit">Сохранить</button>
    </form>

    <div class="links">
      <a href="/login">Назад ко входу</a>
    </div>
  </div>

  <% include('parts/footer.ejs') %>
